ul{
    list-style-type: none;
}

.blocLeft{
    float:left;
    width:40%;
    background-color:#4b5154;
    color:#FFF;
    height:100%;
}
.blocRight{
    float:right;
    width:60%;
}

.barLeft{
    display:inline-block;
    border:1px solid #fff;
    min-height:14px;
    background-color:#fff;
}
.barRight{
    display:inline-block;
    border:1px solid #fff;
    min-height:14px;
}

.photo{
    border-radius: 150px;
}

.name{
    font-size:2.5em;
}

.title{
    color: #4b5154;
    padding: 2%;
    border-left:6px solid #4b5154;
    margin-top:2%;
}

.title b{
    font-size:2em;
}

p,div{
    font-family: Roboto !important;
}

.cp{
    margin-bottom:5%;
    font-size:1.5em;
}

